# Ignore Python virtual environment
venv/
./venv/

# Ignore Git internals
.git/
.github/

# VSCode settings folder
.vscode/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore coverage reports
htmlcov/
.coverage

# Ignore pip cache
pip-wheel-metadata/

# Ignore Python egg info
*.egg-info/
.eggs/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other common files
*.log

/dataset/
/videos/